@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sequel Sans Medium Body';
    src: url('../font/SequelSans-MediumBody.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel Sans Book Body';
    src: url('../font/SequelSans-BookBody.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel Sans Light Body';
    src: url('../font/SequelSans-LightBody.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel Sans Semi Bold Body';
    src: url('../font/SequelSans-SemiBoldBody.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel Sans Bold Body';
    src: url('../font/SequelSans-BoldBody.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
}